.cardDisplayContainer {
  /* align-items: center; */
  background-color: #f598b9;
  border-radius: 10px;
  color: #30161f;
  height: 32rem;
  width: 15rem;
  box-shadow: 0px 1px 10px #30161f;
  margin-top: 5rem;
  animation: adding-new-card 1s alternate;
}

@keyframes adding-new-card {
  0% {
    transform: scale(0%);
  }
  100% {
    transform: scale(100%);
  }
}

@keyframes delete-card {
  0% {
    transform: scale(100%);
  }
  100% {
    transform: scale(0%);
  }
}

.queenCardImageContainer {
  display: flex;
  justify-content: center;
  height: 17rem;
}

.cardQueenImageProp {
  /* margin-top: 1rem; */
  max-width: 12rem;
  max-height: 15rem;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #30161f;
  object-fit: contain;
  margin-top: 1rem;
}

.cardQuenInfoTextContainer {
  margin-left: 0.5rem;
}

.cardQueenNameProp {
  font-size: 1.5rem;
  height: 4rem;
  background-color: #30161f;
  color: #f598b9;
  border-radius: 10px 10px 0px 0px;
  margin-right: 0.5rem;
  padding: 0.5rem;
}

.cardQueenNameContrastForCheckerProp {
  /* background-color: #30161fa9; */
  /* box-shadow: black 0px 0px 40px 0.5px; */
  border-radius: 10px;
}

.queenStatsWithoutNameContainer {
  color: #30161f;
  background-color: #fbd3e1;
  padding: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 0px 0px 10px 10px;
}

.queenStatsWithoutNameContainer * {
  margin-bottom: 0.5rem;
}

.cardQueenWinnerProp {
  font-size: 1.25rem;
}

.cardQueenLinkProp:link,
.cardQueenLinkProp:visited {
  text-decoration: underline #fbd3e1;
  color: #30161f;
  transition: all ease 0.5s;
}

.cardQueenLinkProp:hover,
.cardQueenLinkProp:active {
  text-decoration: underline #30161f;
  transition: all ease 0.5s;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.btn2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fbd3e1;
  color: #30161f;
  text-decoration: line-through #30161f00;
  border-radius: 10px;
  border: none;
  width: 8rem;
  font-size: 1rem;
  transition: all 0.25s;
  padding: 0.25rem;
}

.btn2:hover {
  /* background-color: #fbd3e1;
  box-shadow: 0 5px 10px #30161f;
  text-decoration: line-through #30161f; */
  cursor: pointer;
}

/* .btn2.test-completed2::after,
.btn2.test-completed2::before {
  content: "Sashay";
  position: absolute;
  text-align: center;
  width: 100%;
  transition: all 0.75s;
  left: 0;
  line-height: 0.05rem;
  transition-delay: 500ms;
}

.btn2.btn2.test-completed2:hover::after {
  left: 6rem;
}

.btn2.test-completed2::before {
  content: "Away";
  left: -6rem;
} */

.btn2.btn2.test-completed2:hover::before {
  left: 0;
}
