* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f06c9b;
  box-shadow: 0px 1px 10px #30161f;
  background-color: #000;
  background-image: linear-gradient(45deg, #fff 25%, transparent 25%),
    linear-gradient(-45deg, #fff 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #fff 75%),
    linear-gradient(-45deg, transparent 75%, #fff 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
  height: 5rem;
}

.headerProfileInfoUpdateAndLogoutContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-right: 1rem;
}
.usersCurrentEmail,
.updateProfileLink,
.logoutButton {
  font-size: 1rem;
  height: 2rem;
  padding: 0rem 0.4rem 0rem 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.usersCurrentEmail {
  background-color: #ffd4e3;
  border-radius: 5px;
}
.updateProfileLink:link,
.updateProfileLink:visited {
  text-decoration: underline #ffd4e3;
  color: #000;
  transition: all ease 0.5s;
  background-color: #ffd4e3;
  border-radius: 5px;
}

.updateProfileLink:hover,
.updateProfileLink:active {
  text-decoration: underline #000;
  transition: all ease 0.5s;
}

.updateProfileIconContainer,
.logoutButtonContainer {
  display: none;
}

.logoutButton {
  border: none;
  background-color: #ffd4e3;
  border-radius: 5px;
  transition: all 0.75s;
  position: relative;
  right: 0;
  transition: right ease 0.75s;
}

.logoutButton:hover {
  cursor: pointer;
  transition: all 0.75s;
  right: -0.5rem;
}

ion-icon {
  font-size: 1.5rem;
}

.pageTitle,
.viewAllQueensButton {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pageTitle {
  color: black;
  display: flex;
  align-items: center;
  justify-content: left;
  font-family: "Aboreto", sans-serif;
  font-weight: 1000;
  font-size: 2rem;
  background: linear-gradient(
    to right,
    #f06c9b,
    #f06c9b 30%,
    #f9b2cb9d 100%,
    #ffd4e3 75%
  );
  padding-left: 3rem;
  /* box-shadow: 0px 0px 40px #f06c9b; */
  width: 80vw;
  height: 5rem;
}

.headerProfileInfoUpdateAndLogoutContainer {
  width: 30vw;
  height: 5rem;

  background: linear-gradient(45deg, #f06c9b, #f06c9ad5);
  background: linear-gradient(
    to left,
    #f06c9b,
    #f06c9b 30%,
    #f9b2cb9d 100%,
    #ffd4e3a5 75%
  );
  /* padding: 1rem; */
  /* box-shadow: 0px 0px 40px #f06c9b; */
}

@media (max-width: 1340px) {
  .usersCurrentEmail,
  .updateProfileLink,
  .logoutButton {
    font-size: 0.75rem;
    height: 1.5rem;
    padding: 0rem 0.9rem 0rem 0.9rem;
  }
}

@media (max-width: 1240px) {
  .headerProfileInfoUpdateAndLogoutContainer {
    width: 25vw;
  }
  .updateProfileLinkText,
  .logoutButtonText {
    display: none;
  }

  .updateProfileIconContainer,
  .logoutButtonContainer {
    display: flex;
  }
}

@media (max-width: 1010px) {
  .headerProfileInfoUpdateAndLogoutContainer {
    width: 35vw;
  }
}

@media (max-width: 740px) {
  .headerProfileInfoUpdateAndLogoutContainer {
    width: 50vw;
  }
}

@media (max-width: 650px) {
  .pageTitle {
    font-size: 1.5rem;
    padding-left: 2rem;
  }
}

@media (max-width: 550px) {
  .pageTitle {
    font-size: 1.25rem;
    background: linear-gradient(
      to right,
      #f06c9b 60%,
      #f9b2cb9d 100%,
      #ffd4e3 95%
    );
    padding-left: 1rem;
  }

  .headerProfileInfoUpdateAndLogoutContainer {
    gap: 0.5rem;
  }

  .usersCurrentEmail,
  .updateProfileLink,
  .logoutButton {
    font-size: 0.65rem;
  }

  ion-icon {
    font-size: 1rem;
  }
}

@media (max-width: 475px) {
  .pageTitle {
    font-size: 1rem;
  }

  .headerProfileInfoUpdateAndLogoutContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0rem;
    justify-items: center;
    width: 35vw;
  }

  .usersCurrentEmail {
    grid-column: 1 / -1;
  }

  .updateProfileLink,
  .logoutButton {
    width: 2.5rem;
  }
}
