.visible {
  position: fixed;
  bottom: 2%;
  right: 1rem;
  background-color: #25cdf76b;
  color: #072931;
  transition: all 0.5s;
  border: none;
  /* padding: 0.5rem; */
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50px;
  transition: all 2s;
}

ion-icon {
  font-size: 10rem;
  color: #000;
}

.visible:hover {
  cursor: pointer;
  background-color: #25cdf7;
  transition: all 0.5s;
}

.invisible {
  display: none;
  transition: all 2s;
}

@media (max-width: 1340px) {
  .visible {
    height: 2rem;
    width: 2rem;
  }
}

@media (max-width: 1120px) {
  .visible {
    height: 1.5rem;
    width: 1.5rem;
    right: 0.75rem;
  }
}

@media (max-width: 740px) {
  .visible {
    right: 0.35rem;
  }
}
