.ViewAllQueensContainer {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  padding: 0.5rem;
  background-color: #fbd3e1;
  border: 0.5px solid #f06c9b;
  color: #30161f;
}
.queenNameInGrid:link,
.queenNameInGrid:visited {
  font-size: 1.75rem;
  text-decoration: none;
  color: #30161f;
  transition: all ease 0.5s;
  padding: 0.25rem;
  border-radius: 10px;
}

.queenNameInGrid:hover,
.queenNameInGrid:active {
  color: #fbd3e1;
  background-color: #30161f;
  transition: all ease 0.5s;
  padding: 0.5rem;
  border-radius: 10px;
}
.mainSeasonAppearedOnProp,
.mainSeasonPlacement,
.mainSeasonChallengeWins {
  font-size: 2rem;
}

.buttonContainer {
  margin-top: 0rem;
}
.btn {
  display: inline-block;
  background-color: #f598b9;
  color: #30161f;
  border-radius: 10px;
  border: none;
  height: 2rem;
  width: 6rem;
  position: relative;
  overflow: hidden;
  font-size: 1rem;
  transition: all 0.75s;
  z-index: 0;
}

.btn:hover {
  background-color: #fbd3e1;
  box-shadow: 0 5px 10px #f598b9;
  transition: all 0.75s;
  cursor: pointer;
}

.btn.test-completed::after,
.btn.test-completed::before {
  content: "Shante";
  position: absolute;
  text-align: center;
  width: 100%;
  transition: all 0.75s;
  left: 0;
  line-height: 0.05rem;
}

.btn.btn.test-completed:hover::after {
  left: -6rem;
}

.btn.test-completed::before {
  content: "You Stay";
  left: 6rem;
}

.btn.btn.test-completed:hover::before {
  left: 0;
}

@media (max-width: 1120px) {
  .queenNameInGrid:link,
  .queenNameInGrid:visited {
    font-size: 1.45rem;
  }

  .queenNameInGrid:hover,
  .queenNameInGrid:active {
    font-size: 1.45rem;
  }

  .mainSeasonAppearedOnProp,
  .mainSeasonPlacement,
  .mainSeasonChallengeWins {
    font-size: 1.5rem;
  }
}

@media (max-width: 920px) {
  .queenNameInGrid:link,
  .queenNameInGrid:visited {
    font-size: 1.15rem;
  }

  .queenNameInGrid:hover,
  .queenNameInGrid:active {
    font-size: 1.15rem;
  }

  .mainSeasonAppearedOnProp,
  .mainSeasonPlacement,
  .mainSeasonChallengeWins {
    font-size: 1.15rem;
  }

  .btn {
    width: 4rem;
    font-size: 0.75rem;
  }
}
@media (max-width: 740px) {
  .queenNameInGrid:link,
  .queenNameInGrid:visited {
    font-size: 1rem;
  }

  .queenNameInGrid:hover,
  .queenNameInGrid:active {
    font-size: 1rem;
  }

  .mainSeasonAppearedOnProp,
  .mainSeasonPlacement,
  .mainSeasonChallengeWins {
    font-size: 1rem;
  }

  .btn {
    width: 4rem;
    font-size: 0.75rem;
  }
}

@media (max-width: 650px) {
  .queenNameInGrid:link,
  .queenNameInGrid:visited {
    font-size: 0.75rem;
  }

  .queenNameInGrid:hover,
  .queenNameInGrid:active {
    font-size: 0.75rem;
  }

  .mainSeasonAppearedOnProp,
  .mainSeasonPlacement,
  .mainSeasonChallengeWins {
    font-size: 0.75rem;
  }

  .btn {
    width: 4rem;
    font-size: 0.75rem;
  }
}

@media (max-width: 550px) {
  .queenNameInGrid:link,
  .queenNameInGrid:visited {
    font-size: 0.5rem;
  }

  .queenNameInGrid:hover,
  .queenNameInGrid:active {
    font-size: 0.5rem;
  }
}
