.ViewAllQueensHeaderContainer {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  padding: 0.5rem;
  background-color: #f06c9b;
  border: none;
  color: #fef0f5;
  font-size: 1.2rem;
  font-weight: 700;
  position: sticky;
  top: 15rem;
  z-index: 1;
}

.WinsTitle {
  display: none;
}
@media (max-width: 1340px) {
  .ViewAllQueensHeaderContainer {
    font-size: 1.25rem;
    top: 15rem;
  }
}

@media (max-width: 1245px) {
  .ViewAllQueensHeaderContainer {
    font-size: 1.2rem;
  }
}

@media (max-width: 1200px) {
  .ViewAllQueensHeaderContainer {
    font-size: 1.1rem;
  }
}

@media (max-width: 1120px) {
  .ViewAllQueensHeaderContainer {
    font-size: 0.9rem;
  }
}

@media (max-width: 920px) {
  .maxiChallengeWinsTitle {
    display: none;
  }

  .WinsTitle {
    display: flex;
  }
}

@media (max-width: 555px) {
  .ViewAllQueensHeaderContainer {
    font-size: 0.75rem;
  }
}

@media (max-width: 475px) {
  .ViewAllQueensHeaderContainer {
    font-size: 0.65rem;
  }
}
