html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  scroll-behavior: auto;
  background-color: #fef0f5;
  font-family: "Work Sans", sans-serif;
}

.myQueenElements {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  background-color: #fef0f5;
  overflow-y: scroll;
  position: sticky;
  top: 0;
  z-index: 1;
  min-height: 20rem;
}

.minimizedMyQueenElements {
  height: 10rem;
  overflow: hidden;
}

.blankDeckWithInstructions {
  transition: all 0.25s;
  scale: 1;
  opacity: 1;
  padding: 1rem;
  font-size: 2.5rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  position: fixed;
  z-index: 2;
}

.hideBlankDeckWithInstructions {
  transition: all 0.25s;
  scale: 0;
  opacity: 0;
}

@media (max-width: 1340px) {
  .minimizedMyQueenElements {
    min-height: 15rem;
  }
}

@media (max-width: 1100px) {
  .myQueenElements {
    flex-wrap: nowrap;
    overflow-x: auto;
    justify-content: flex-start;
    gap: 1rem;
  }
}
