html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  scroll-behavior: auto;
  background-color: #fef0f5;
  font-family: "Work Sans", sans-serif;
  overscroll-behavior-y: none;
  cursor: default;
}

.myQueenElements {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  background-color: #fef0f5;
  overflow-y: scroll;
  position: sticky;
  top: 0;
  z-index: 1;
  min-height: 20rem;
}

.minimizedMyQueenElements {
  min-height: 15rem;
  overflow: hidden;
}

.blankDeckWithInstructions {
  margin: 0 auto;
  margin-top: 2rem;
  transition: all 0.25s;
  scale: 1;
  opacity: 0.75;
  padding: 1rem;
  font-size: clamp(0.5rem, 3rem, 5rem);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  background-color: #f598b9;
  color: #fef0f5;
  filter:grayscale(1);
  border-radius: 30px;
  max-width: 80%;

}

.hideBlankDeckWithInstructions {
  transition: all 0.25s;
  scale: 0;
  opacity: 0;
  height: 0rem;
}

.buttonTextInInstruction {
  background-color: #000;
  color: #fbd3e1;
  filter:grayscale(1);
  padding: 0.15rem 0.5rem 0.15rem 0.5rem;
  border-radius: 10px;
  display: inline-block;
}

.instructionRPDRTitleText {
  font-style: italic;
}

@media (max-width: 1340px) {
  .minimizedMyQueenElements {
    min-height: 15rem;
  }
}

@media (max-width: 1100px) {
  .myQueenElements {
    flex-wrap: nowrap;
    overflow-x: auto;
    justify-content: flex-start;
    gap: 1rem;
  }

  .blankDeckWithInstructions  {
    font-size: 2rem;
  }
}

@media (max-width: 610px) {
  .blankDeckWithInstructions  {
    font-size: 1.5rem;
  }

}

@media (max-width: 400px) {
  .blankDeckWithInstructions  {
    font-size: 1.25rem;
  }
}