html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  scroll-behavior: auto;
  background-color: #fef0f5;
  font-family: "Work Sans", sans-serif;
}

.myQueenElements {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  background-color: #fef0f5;
  overflow-y: scroll;
  position: sticky;
  top: 0;
  z-index: 1;
  min-height: 20rem;
  transition: all 2s;
}

.myQueenElementsEntranceAnimation {
  animation: adding-new-card 2s;
}

.cardDisplayContainerExitAnimation {
  animation: delete-card 2s;
}

@keyframes adding-new-card {
  0% {
    transition: all opacity;
    opacity: 0;
  }
  100% {
    transition: all opacity;
    opacity: 1;
  }
}

.minimizedMyQueenElements {
  height: 10rem;
  overflow: hidden;
}

@media (max-width: 1340px) {
  .minimizedMyQueenElements {
    min-height: 15rem;
  }
}

@media (max-width: 1100px) {
  .myQueenElements {
    flex-wrap: nowrap;
    overflow-x: auto;
    justify-content: flex-start;
    gap: 1rem;
  }
}
