body {
  background-color: #9d94e6;
}

.formContainerForPasswordReset,
.linksToOtherPageContainerForPasswordReset {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  max-width: 30rem;
}

.formContainerForPasswordReset {
  flex-direction: column;
  margin-top: 7rem;
  border-radius: 10px;
  border: 3px solid #fcdce7;
  margin-bottom: 1rem;
  background-color: #f06c9b;
  background-color: #fff;
}

.resetPasswordPageTitle {
  margin-top: 1rem;
  font-size: 3rem;
  background-color: #f06c9b;
  color: #fcdce7;
  padding: 0.5rem 2rem 0.5rem 2rem;
  border-radius: 50px;
}

.emailLabelForPasswordReset {
  display: flex;
  margin-bottom: 0.75rem;
  margin-left: 0.45rem;
  font-size: 1.5rem;
  color: #242a4c;
}

.emailInputForPasswordReset {
  border: 1px solid #788bff;
  border-radius: 10px;
  height: 2rem;
  width: 15rem;
  text-indent: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.emailInputForPasswordReset:focus {
  outline: 2px solid #788bff;
  box-shadow: 0px 0.5px 15px #788bff;
}

.emailInputForPasswordReset::placeholder {
  color: #bcc5ff;
}

.resetPasswordButton {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  border: none;
  border-radius: 10px;
  color: #3b28cc;
  background-color: #fff;
  transition: all 0.75s ease;
}

.resetPasswordButton:hover {
  background-color: #3b28cc;
  color: #fff;
  transition: all 0.75s ease;
  cursor: pointer;
}

.linksToOtherPageContainerForPasswordReset {
  background-color: #fff;
  border-radius: 10px;
  font-size: 1.25rem;
  height: 2rem;
  display: flex;
  justify-content: space-around;
  /* padding: 0rem 1rem 0rem 1rem; */
}

.linksToOtherPageFromPasswordReset:link,
.linksToOtherPageFromPasswordReset:visited {
  color: #3b28cc;
  text-decoration: underline #fff;
  transition: all 0.5s ease;
}

.linksToOtherPageFromPasswordReset:hover,
.linksToOtherPageFromPasswordReset:active {
  text-decoration: underline #3b28cc;
  transition: all 0.5s ease;
}

@media (max-width: 500px) {
  .formContainerForPasswordReset,
  .linksToOtherPageContainerForPasswordReset {
    max-width: 20rem;
  }

  .linksToOtherPagesContainer {
    flex-direction: column;
    max-width: 20rem;
    height: 5rem;
    gap: 0rem;
  }

  .resetPasswordPageTitle {
    font-size: 2rem;
  }

  .linksToOtherPageContainerForPasswordReset {
    flex-direction: column;
    gap: 0rem;
    height: 5rem;
  }
}
