body {
  background-color: #fef0f5;
}

.LoginMessageErrorContainer {
  color: #f06c9b;
  position: absolute;
  background-color: #fcdce7;
  left: 25%;
  right: 25%;
  top: 2%;
  padding: 0.75rem;
  border-radius: 10px;
  text-align: center;
  transition: 0.1s ease-in;
}

.formContainer,
.linksToOtherPagesContainer {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  max-width: 30rem;
}

.formContainer {
  flex-direction: column;
  margin-top: 7rem;
  border-radius: 10px;
  border: 3px solid #fcdce7;
  margin-bottom: 1rem;
  background-color: #f06c9b;
  background-color: #fff;
}

.loginPageTitle {
  margin-top: 1rem;
  font-size: 3rem;
  background-color: #f06c9b;
  color: #fcdce7;
  padding: 0.5rem 2rem 0.5rem 2rem;
  border-radius: 50px;
}

.emailLabel,
.passwordLabel {
  display: flex;
  margin-bottom: 0.75rem;
  margin-left: 0.45rem;
  font-size: 1.5rem;
  color: #242a4c;
}

.emailInput,
.passwordInput {
  border: 1px solid #788bff;
  border-radius: 10px;
  height: 2rem;
  width: 15rem;
  text-indent: 0.5rem;
  font-size: 1rem;
}

.emailInput {
  margin-bottom: 1rem;
}

.emailInput:focus,
.passwordInput:focus {
  outline: 2px solid #788bff;
  box-shadow: 0px 0.5px 15px #788bff;
}

.emailInput::placeholder,
.passwordInput::placeholder {
  color: #bcc5ff;
}

.logInButton {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  border: none;
  border-radius: 10px;
  color: #3b28cc;
  background-color: #fff;
  transition: all 0.75s ease;
}

.logInButton:hover {
  background-color: #3b28cc;
  color: #fff;
  transition: all 0.75s ease;
  cursor: pointer;
}

.linksToOtherPagesContainer {
  background-color: #fff;
  border-radius: 10px;
  font-size: 1.25rem;
  height: 2rem;
  display: flex;
  justify-content: space-around;
}

.linkToOtherPage:link,
.linkToOtherPage:visited {
  color: #3b28cc;
  color: #6253d6;
  text-decoration: underline #fff;
  transition: all 0.5s ease;
}

.linkToOtherPage:hover,
.linkToOtherPage:active {
  text-decoration: underline #3b28cc;
  transition: all 0.5s ease;
}

@media (max-width: 500px) {
  .formContainer {
    max-width: 20rem;
  }

  .linksToOtherPagesContainer {
    flex-direction: column;
    max-width: 20rem;
    height: 5rem;
    gap: 0rem;
  }
}
